<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>198033966695-g6ub2tpgpnfq4vo13l7oj7ac25eg14k5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198033966695-g6ub2tpgpnfq4vo13l7oj7ac25eg14k5</string>
	<key>API_KEY</key>
	<string>AIzaSyD7Aw8Xo3yCy08bhEufQ3TdQY85co4EvsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>198033966695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sg.com.ridemate.RideMate</string>
	<key>PROJECT_ID</key>
	<string>ridemate-42b62</string>
	<key>STORAGE_BUCKET</key>
	<string>ridemate-42b62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:198033966695:ios:f770dfba7cc166ad</string>
	<key>DATABASE_URL</key>
	<string>https://ridemate-42b62.firebaseio.com</string>
</dict>
</plist>